@import "../../colors.css";


.tableBody>div {
  margin: 0 !important;
  padding: 0 0 .5rem 0;
}

.tableBody>div>div:nth-child(2) {
  width: 100%;
  border-top: 1px solid #d7d7d7;
}

.content {
  border: 2px solid #d7d7d7;
  border-radius: .25rem;
  background-color: #fff;
}

.container {
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

.headerTable {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin: 1rem 0 0.75rem 1rem;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: var(--font-size);
  font-weight: 700;
  color: #3f4753;
  margin: 0;
}

.columnTitle {
  color: #3f4753;
}

.columnHeader {
  flex: 1;
  padding: 0.5rem 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableBody {
  display: flex;
  flex-direction: column;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.tableRow {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0;
}

.containerRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0;
  color: #454b54;
}

.tableCell {
  flex: 1;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.customPagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.customPagination li {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.backButton,
.downloadButton {
  border: none;
  border-radius: 0.5rem;
  background-color: var(--first-button-color);
  box-shadow: var(--box-shadow);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  background-color: var(--first-button-color);
  box-shadow: var(--box-shadow);
}

.downloadButton {
  border-radius: 5rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem 0.75rem 0;
  box-shadow: var(--box-shadow);
}

.backButton {
  margin: 0 1rem;
}

.button:hover,
.backButton:hover,
.downloadButton:hover {
  background-color: var(--first-button-color-hover);
}

.button:disabled,
.backButton:disabled,
.downloadButton:disabled {
  background-color: var(--first-button-color-disabled);
  cursor: var(--cursor-default);
}

.tableRow:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.spin {
  animation: spin 1s linear infinite;
}

.spin svg {
  opacity: 1;
}

.detailsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option {
  cursor: pointer;
  color: #454b54;
  width: auto;
}

.option {
  text-decoration: none;
  margin: .5rem 0;
  position: relative;
  transition: color 0.3s ease;
  font-weight: bold;
  cursor: var(--cursor-pointer);
}

.option::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--first-text-color);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.option:hover {
  color: var(--first-text-color-hover);
}

.option:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.option.active {
  background-color: var(--fifth-button-color);
  color: var(--second-text-color);
  font-size: .9rem;
  padding: .35rem .75rem;
  border-radius: .25rem;
}

.option.active::before {
  visibility: hidden;
  transform: scaleX(0);
}

@media (max-width: 750px) {
  .content {
    width: 80vw;
    margin: 0 auto;
  }

  .headerTable {
    font-size: var(--font-size)-0.15rem;
  }

  .columnTitle,
  .tableCell,
  .backButton,
  .currentPage,
  .empty {
    font-size: var(--font-size)-0.3rem;
  }

  .button,
  .downloadButton {
    width: 2rem;
    height: 2rem;
    padding: 0;
  }

  .backButton {
    width: 4rem;
    height: 2rem;
    padding: 0;
  }
}

@media (min-width: 751px) {
  .content {
    width: 80vw;
  }

  .headerTable,
  .currentPage {
    font-size: var(--font-size) + 0.2rem;
  }

  .columnTitle,
  .tableCell,
  .backButton,
  .empty {
    font-size: var(--font-size);
  }

  .button,
  .downloadButton {
    width: 3rem;
    height: 3rem;
  }

  .backButton {
    width: 5rem;
    height: 2.75rem;
  }
}

@media (min-width: 1024px) {
  .content {
    width: 90vw;
  }

  .headerTable {
    font-size: var(--font-size) + 0.25rem;
  }

  .columnTitle,
  .tableCell,
  .backButton,
  .currentPage,
  .empty {
    font-size: var(--font-size);
  }

  .button,
  .downloadButton {
    width: 3rem;
    height: 3rem;
  }

  .backButton {
    width: 5rem;
    height: 2.75rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}