@import '../../colors.css';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.modalContainer {
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--fifth-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 10px 10px -10px var(--shadow-color);
  max-width: 25rem;
  width: 100%;
  max-height: 80%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.dashboard {
  display: flex;
  justify-content: flex-end;
}

.input {
  width: 20rem;
  height: 2.5rem;
}

.label {
  font-size: 1.1rem;
  margin: 0.25rem 0;
}

.select {
  background-color: var(--second-button-color);
  padding: 0 .5rem;
  height: 2.625rem;
  border-radius: 0.25rem;
  width: 20.5rem;
  font-size: 1rem;
  border: solid 1px #bcbcbc;
  box-shadow: 0 10px 10px -10px var(--shadow-color);
}

.select:hover {
  border: solid 1px black;
}

.checkbox {
  height: 1.5rem;
  box-shadow: none;
}

.button {
  margin: 1rem 0 0 0;
  font-size: 1.2rem;
  width: 10rem;
  height: 3rem;
}

.tableWrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 3rem 0
}