.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  margin: 3rem 0 1.5rem 0;
}

.input {
  margin: 0 0 1rem 0;
  width: 20rem;
  height: 2.5rem;
}

.checkbox {
  height: 1.5rem;
}

.button {
  margin: 1rem 0 0 0;
  font-size: 1.2rem;
  width: 10rem;
  height: 3rem;
}
