@import '../../colors.css';

.container {
  box-shadow: var(--box-shadow);
  cursor: var(--cursor-pointer);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-family: 'SourceCodePro', monospace;
  src: local('SourceCodePro'),
    url('../../Fonts/SourceCodePro/SourceCodePro-Regular.ttf') format('truetype');
  color: var(--fifth-button-color) !important;
  border-color: var(--fifth-button-color) !important;
  background-color: var(--second-button-color) !important;
}

.container:hover {
  background-color: var(--second-button-color-hover) !important;
}

.container:disabled {
  background-color: var(--second-button-color-disabled) !important;
  cursor: var(--cursor-not-allowed) !important;
  color: var(--second-text-color-disabled) !important;
}