div {
  border: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  display: block;
  font-size: 1.1rem;
}

.content {
  background-color: var(--second-button-color);
  color: var(--third-text-color);
  border: solid 1px #bcbcbc;
  border-radius: .25rem;
  box-shadow: 0px 10px 10px -10px var(--shadow-color);
  cursor: var(--cursor-pointer);
  padding: 0 0 0 0.5rem;
  height: 3.5rem;
  font-size: 1rem;
}

.content:hover {
  border: solid 1px black;
}

.content:focus {
  border: solid 1px black;
}

.checkbox {
  background-color: transparent;
  border: none;
  height: auto;
  font-size: inherit;
  padding: 0;
}

.checkbox:hover {
  border: none;
}