.label {
  display: block;
  font-size: 1.1rem;
  margin: 1rem 0 .25rem 0;
}

.content {
  background-color: var(--second-button-color);
  color: var(--third-text-color);
  border: solid 1px #bcbcbc;
  border-radius: .25rem;
  box-shadow: var(--box-shadow);
  cursor: var(--cursor-pointer);
  padding: 0 0 0 0.5rem;
  height: 3.5rem;
  font-size: 1rem;
}

.content:hover {
  border: solid 1px black;
}

.content:focus {
  border: solid 1px black;
}

/* .content[type='checkbox'] {
  background-color: transparent;
  height: auto;
  font-size: inherit;
  padding: 0;
}

.content[type='checkbox']:hover {
  border: none;
} */